# ==========================================
# Archivos de caché y compilación de Python
# ==========================================
__pycache__/
*.py[cod]
*$py.class
*.so

# ==========================================
# Datasets y archivos pesados
# ==========================================
data/
*.tar.gz
*.zip
*.csv

# ==========================================
# Pesos y modelos guardados (PyTorch)
# ==========================================
*.pt
*.pth
*.bin
*.onnx

# ==========================================
# Entornos virtuales
# ==========================================
venv/
.venv/
env/

# ==========================================
# Archivos de configuración de IDEs
# ==========================================
.vscode/
.idea/
.ipynb_checkpoints/


# ==========================================
# Imágenes y figuras generadas
# ==========================================
historial.json
*.png
*.jpg
*.jpeg
*.svg
*.pdf